html {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Helvetica Neue', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body nav {
  position: sticky;
  z-index: 10;
  top: 0;
}

.header-photo {
	height: 50px;
}

ul {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #00A678;
}

li {
  list-style: none;
  margin-left: 20px;
  font-size: 25px;
  font-weight: bold;
}

/*-------------------- column stuff --------*/

.column {
	float: left;
}

    /* Set width length for the left, right and middle columns */
.left {
	width: 28%;
}

.profile-photo {
	width: 100%;
}

.right {
    width: 72%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.player {
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  margin: 20px;
}

/*--------------- window size --------*/

@media only screen and (max-width: 768px) {
	.left {
		width: 0%;
	}

	.profile-photo {
		width: 0%;
	}

	.right {
	    width: 100%;
	    display: flex;
	    flex-wrap: wrap;
	    flex-direction: column;
	    align-content: center;
	    justify-content: center;
	}

}